.input-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(155, 155, 155);
    transition: .3s ease;
    height: 40px;
    width: 280px;
    
        &__text {
            font-size: large;
            font-weight: 600;
            padding: 5px 5px 5px 10px;
        }
}

.input-item:hover {
    box-shadow: 0px 1px 2px rgb(155, 155, 155);
    transition: .3s ease;
}

