.input-card {
    display: flex;
    margin-top: 10px;

    &__input {
        box-shadow: 0px 1px 3px rgb(133, 132, 132);
        width: 80%;
        margin: 0 10px 0 10px;
        border-radius: 5px;
        border: none;
        background-color: rgb(246, 197, 171);
        outline: none;
        font-weight: 400;    
        font-size: medium;
        padding: 10px;
    }
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;

    &__add-button{
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(29, 192, 223, 0.3);
        margin: 0 10px 0 10px;
        padding: 0 5px 0 5px;
        color: white;
        transition: .2s ease;
        box-shadow: 0px 1px 4px rgb(133, 132, 132);
    }

    &__add-button:hover{
        box-shadow: 0px 1px 1px rgb(133, 132, 132);
        transition: .2s ease;
        color: rgba(255, 255, 255, 0.803);
    }

    &__clear-button{
        cursor: pointer;
        align-self: center;
        transition: .2s ease;
        box-sizing: border-box;
    }

    &__clear-button:hover{
        color: rgb(93, 92, 92);
        transition: .2s ease;
        font-size: 1rem;
    }
}