.list {
    width: 300px;
    background-color: rgba(155, 156, 198, 0.253);
    border-radius: 8px;
    padding-bottom: 15px;
    margin: 10px 0 10px 30px;
    cursor: pointer;
    box-sizing:border-box;

    @media screen and (max-width: 900px) {
        width: 80%;
        height: 35vh;
        margin: 10px 0 10px 10px;
    }
}
