.card {
    padding:  5px;
    cursor: pointer;
    background-color: white;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(126, 123, 123);
    font-size: medium;
    font-weight: 500;
}
